{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for job in jobs %}
        <div class="content">
            <div class="details">
                <div class="title">
                  <h2><a href="{{ "/jobs/" + (job['job_id']|string) }}">{{job['job_title']}}</a></h2>
                </div>
                <div class="location">
                    {{job['job_location']}}
                </div>
                <div class="salary">
                    {{job['salary']}} {{ job['currency']}}
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}