{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}{{job['job_title']}}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="job-offers">
        <div class="job-title">
          <a href="{{ "/jobs/" + (job['job_id']|string) }}">{{job['job_title']}}</a>
        </div>
        <form method="post" action="{{ "/jobs"}}">
            <input type="hidden" name="add_item_index" value="{{ (job['job_id']|string) }}">
            <button class="apply" type="submit" name="add_item">
                Apply
            </button>
        </form>
        <div class="content">
            <div class="details">
                <div class="location">
                    {{job['job_location']}}
                </div>
                <div class="salary">
                    {{job['salary']}} {{ job['currency']}}
                </div>
                <br />
                <div class="responsibilities">
                    <p><strong>Responsibilities:</strong></p>
                    <ul>
                    {% for line in job['responsibilities'].split("\n") %}
                        <li>{{ line }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <br />
                <div class="requirements">
                    <p><strong>Requirements:</strong></p>
                    <ul>
                    {% for line in job['requirements'].split("\n") %}
                        <li>{{ line }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}