<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="./style.css" />
    <title>Web Database | Karola-ING</title>
</head>
<body>
    <div class="container">
        <!-- Sidebar section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <span class="material-symbols-outlined" id="logo">
                        style
                        </span>
                    <h2><a href="#">Flashcards</a></h2>
                </div>
                <div class="close" id="blose-btn">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#">
                    <span class="material-symbols-outlined">
                        dashboard
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        note_add
                    </span>
                    <h3>Add card</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        book
                    </span>
                    <h3>Library</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-symbols-outlined">
                        emoji_objects
                    </span>
                    <h3>Learn</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        play_arrow
                    </span>
                    <h3>Play</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-outlined">
                        query_stats
                    </span>
                    <h3>Analytics</h3>
                </a>
                
            </div>
        </aside>
        <!-- End of sidebar section -->

        <!-- Main content -->
        <main>
            <div class="choose-languages">
                <div class="language-btn">
                    <div class="language-learn">
                        English
                    </div>
                    <div class="switch">
                        ↔
                    </div>
                
                    <div class="language-known">
                        Polish
                    </div>
                </div>
            </div>

            <div class="guessing-words">
                <div class="guess">
                    Cat
                </div>
                <div class="guesses">
                    <div class="guess-1">
                        kot
                    </div>
                    <div class="guess-2">
                        but
                    </div>
                    <div class="guess-3">
                        nos
                    </div>
                </div>
            </div>

            <div class="user-rating">
                <div class="easy">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                </div>
                <div class="hard">
                    <span class="material-symbols-outlined">
                        flaky
                    </span>
                </div>
                <div class="extreme">
                    <span class="material-symbols-outlined">
                        cancel
                    </span>
                </div>
            </div>
        </main>
        <!-- End of main content -->

        <!-- Right section -->
        <div class="right-section">
            <div class="nav">
                <button class="menu-btn">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
            
                <div class="dark-mode">
                    <span class="material-symbols-outlined active">
                        light_mode
                    </span>
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hello, <strong>Karolina</strong></p>
                    </div>
                    <div class="profile-photo">
                        <img src="/static/smilling-woman.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!--End of right section -->



    </div>

    <script src="./index.js"></script>
</body>
</html>