{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}Jobs{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for job in jobs %}
    <div class="job-offers">
        <div class="job-title">
            {{job['title']}}
        </div>
        <div class="apply">
            Apply
        </div>
        <div class="content">
            <div class="details">
                <div class="company">
                {{job['company']}}
                </div>
                <div class="location">
                    {{job['location']}}
                </div>
                <div class="salary">
                    {{job['salary']}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
{% endblock %}